<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="com.Yogisoft.Automation_Project.listeners.Listeners"></listener>
		<listener
			class-name="com.Yogisoft.Automation_Project.listeners.RetryListener"></listener>
	
		</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Yogisoft.Automation_Project.home.TC001_CR"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
